<app-header name="Gerenciar Aplicativos"></app-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-text>
    <h6>Lista de aplicativos</h6>
    <p>Clique nas linhas para mais detalhes</p>
  </ion-text>

  <ion-progress-bar *ngIf="loading" value="0.25" buffer="0.5" type="indeterminate"></ion-progress-bar>

  <ion-list>
    <ion-item *ngFor="let i of aplicativos" routerLink="/tabs/menu/edit-aplicativo/{{i.id_aplicativo}}">
      <ion-avatar slot="start">
        <ion-icon name="phone-portrait-outline"></ion-icon>
      </ion-avatar>
      <ion-label>{{i.nome_aplicativo}}</ion-label>
      
    </ion-item>
    
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/tabs/menu/add-aplicativo">
    <ion-fab-button color="dark">
      <ion-icon name="add-circle-outline" color="light"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
