h6{
    text-align: center;
    font-weight: 600;
}

ion-icon{
    font-size: 2rem;
    color: #e94359;
}

p{
    font-size: 0.7rem;
    text-align: center;
    color: #ccc;
}

ion-fab{
    margin-bottom: 5%;
    margin-right: 2%;
}

ion-badge > ion-icon{
    font-size: 1.2rem;
}
