<ion-content>
  <ion-slides pager="true">
      <ion-slide>

        <ion-grid>
          
          <ion-row>
            <ion-col size="2" >
            </ion-col>
            <ion-col size="8">
              <ion-img src="assets/book.svg"></ion-img>
            </ion-col>
            <ion-col size="2">
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-text color="dark">
                <h3>Bem-vindo ao Desafio MBA</h3>
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-text color="dark">
                <p>O aplicativo consiste em <ion-text color="danger">gerenciar</ion-text> pessoas, perfis e aplicativos.</p>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-slide>

      <ion-slide>
        <ion-grid>
          <ion-row>
            <ion-col size="2" >
            </ion-col>
            <ion-col size="8">
              <ion-img src="assets/preferences.svg"></ion-img>
            </ion-col>
            <ion-col size="2">
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-text color="dark">
                <h3>Pessoas e Perfis</h3>
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-text color="dark">
                <p>Crie e edite pessoas e atribua perfis: <ion-text color="danger">usuário comum</ion-text>, <ion-text color="danger">gestor</ion-text> e <ion-text color="danger">administrador.</ion-text></p>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>



      <ion-slide>
        <ion-grid>
          <ion-row>
            <ion-col size="2" >
            </ion-col>
            <ion-col size="8">
              <ion-img src="assets/key.svg"></ion-img>
            </ion-col>
            <ion-col size="2">
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-text color="dark">
                <h3>Consulta</h3>
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-text color="dark">
                <p>Na aba de consulta, conseguimos verificar disponibilidade de aplicativos por meio de um <ion-text color="danger">perfil de acesso</ion-text> referente a <ion-text color="danger">pessoa</ion-text>.</p>
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="2"></ion-col>
            <ion-col size="8">
              <ion-button expand="full" routerLink="/tabs/menu/pessoa">Vamos lá</ion-button>
            </ion-col>
            <ion-col size="2"></ion-col>
          </ion-row>

        </ion-grid>
      </ion-slide>

  </ion-slides>
</ion-content>