<app-header name="Adicionar pessoa"></app-header>

<ion-buttons slot="start">
  <ion-back-button defaultHref="/tabs/menu/pessoa"></ion-back-button>
</ion-buttons>

<ion-content>

  <div class="container">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" [(ngModel)]="pessoa.nome_pessoa"  value="{{pessoa.nome_pessoa}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">CPF</ion-label>
      <ion-input type="text" [(ngModel)]="pessoa.cpf_pessoa" maxlength="11" value="{{pessoa.cpf_pessoa}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">RG</ion-label>
      <ion-input type="text" [(ngModel)]="pessoa.rg_pessoa"  value="{{pessoa.rg_pessoa}}" maxlength="15"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Data de Nascimento</ion-label>
      <ion-datetime value="{{pessoa.data_nascimento_pessoa}}" [(ngModel)]="pessoa.data_nascimento_pessoa"  displayFormat="DD/MM/YYYY"  display-timezone="utc"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Perfil</ion-label>
      <ion-select value="{{pessoa.perfis_id_perfil}}" okText="Ok" [(ngModel)]="pessoa.perfis_id_perfil"  cancelText="Cancelar">
        <ion-select-option *ngFor="let i of perfis" value="{{i.id_perfil}}">{{i.nome_perfil}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="full" (click)="addPessoas()">
      Adicionar
    </ion-button>

  </div>
  
</ion-content>
