<app-header name="Consultar"></app-header>

<ion-content>

  <ion-text>
    <h6>Consulte acesso aos aplicativos</h6>
    <p>Selecione uma pessoa e veja os aplicativos acessíveis.</p>
  </ion-text>

  <ion-item>
    <ion-label>Pessoas</ion-label>
    <ion-select [(ngModel)]="tt" interface="popover" placeholder="Selecione" (ngModelChange)="procurar($event)">
      <ion-select-option *ngFor="let i of pessoas" value="{{i.id_pessoa}}" >{{i.nome_pessoa}}</ion-select-option>
    </ion-select>
  </ion-item>

  <div *ngIf="acesso">
    <ion-text class="spac">
      <h6>Aplicativos</h6>
    </ion-text>

    <ion-list>
      <ion-item *ngFor="let i of aplicativos">
        <ion-icon name="eye-outline" slot="start"></ion-icon>
        <ion-label>{{i.nome_aplicativo}}</ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
