h6{
    text-align: center;
    font-weight: 600;
    margin: 5%;
}


p{
    font-size: 0.7rem;
    text-align: center;
    color: #ccc;
    margin: 5%;
}

.spac{
    margin-bottom: 5%;
    margin-top: 3%;
}

.ts {
    padding-top: 4%;
    font-weight: normal;
}

