<app-header name="Gerenciar Pessoas"></app-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-text>
    <h6>Lista de Pessoas</h6>
    <p>Clique nas linhas para mais detalhes</p>
  </ion-text>

  <ion-progress-bar *ngIf="loading" value="0.25" buffer="0.5" type="indeterminate"></ion-progress-bar>

  <ion-list>
    <ion-item *ngFor="let i of pessoas" routerLink="/tabs/menu/edit-pessoa/{{i.id_pessoa}}">
      <ion-avatar slot="start">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-avatar>
      <ion-label>{{i.nome_pessoa}}</ion-label>
    </ion-item>
    
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/tabs/menu/add-pessoa">
    <ion-fab-button color="dark">
      <ion-icon name="add-circle-outline" color="light"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
