<app-header name="Adicionar Aplicativo"></app-header>

<ion-buttons slot="start">
  <ion-back-button defaultHref="/tabs/menu/aplicativo"></ion-back-button>
</ion-buttons>

<ion-content>

  <div class="container">
    <ion-item>
      <ion-label position="floating">Nome do aplicativo</ion-label>
      <ion-input type="text" [(ngModel)]="aplicativo.nome_aplicativo"  value="{{aplicativo.nome_aplicativo}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Perfil</ion-label>
      <ion-select value="{{appHasPerfil.perfis_id_perfil}}" okText="Ok" [(ngModel)]="appHasPerfil.perfis_id_perfil"  cancelText="Cancelar">
        <ion-select-option *ngFor="let i of perfis" value="{{i.id_perfil}}">{{i.nome_perfil}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="full" (click)="addAplicativo()">
      Adicionar
    </ion-button>

  </div>

</ion-content>
