
<ion-tabs>
  <ion-tab-bar slot="bottom" color="light">

    <ion-tab-button tab="pessoa"  >
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Pessoas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <ion-icon name="body-outline"></ion-icon>
      <ion-label>Perfis</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="aplicativo">
      <ion-icon name="bookmarks-outline"></ion-icon>
      <ion-label>Aplicativos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="consulta">
      <ion-icon name="desktop-outline"></ion-icon>
      <ion-label>Consulta</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
