<app-header name="Editar Aplicativo"></app-header>

<ion-buttons slot="start">
  <ion-back-button defaultHref="/tabs/menu/aplicativo"></ion-back-button>
</ion-buttons>

<ion-content>

  <div class="container">
    <ion-item>
      <ion-label position="floating">Nome do aplicativo</ion-label>
      <ion-input type="text" [(ngModel)]="aplicativo.nome_aplicativo"  value="{{aplicativo.nome_aplicativo}}"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="floating">Perfil</ion-label>
      <ion-input value="{{appHasPerfil.nome_perfil}}" disabled></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="EditPessoas()">
      Editar
    </ion-button>

    <ion-button expand="full" color="danger" (click)="DeletePessoas()">
      Excluir
    </ion-button>

  </div>

</ion-content>
