p{
    font-size: 0.8rem;
    text-align: center;
    margin: 8%;
}


.bod > p{
    font-size: 0.6rem;
    text-align: center;
    margin: 8%;
    font-weight: bold;
}

h6{
    text-align: center;
    font-weight: 600;
}

.tagss{
    font-weight: bold;
}