<app-header name="Perfis"></app-header>

<ion-content>  
  <ion-text>
    <h6>Perfis</h6>
  </ion-text>

  <ion-card>

    <ion-progress-bar *ngIf="loading" value="0.25" buffer="0.5" type="indeterminate"></ion-progress-bar>
    
    <ion-item *ngFor="let i of perfis" class="ion-activated">
      <ion-icon name="person-add-outline" slot="start"></ion-icon>
      <ion-label>{{i.nome_perfil}}</ion-label>
    </ion-item>

  </ion-card>

  <ion-text>
    <p>Perfis são associados as pessoas como forma de acesso aos aplicativos cadastrados.</p>
  </ion-text>

  <ion-text class="bod">
    <p>* Use a aba consulta para visualizar os aplicativos que pessoas tenham acesso a partir do seu perfil.</p>
  </ion-text>


</ion-content>
